#hide_me{
 display: none;
}
.capatilise_sReceipt{
 text-transform: capitalize;
}
#viewing_items_title_receipt{
 font-size: 40px;
 margin-bottom: 20px;
 margin-top: 50px;
 border-bottom: solid 1px #ff9100;
 color: rgb(19, 19, 19);
}
/*tabs*/
#single_receipt_tabs-tab-add_product_receipt,
#single_receipt_tabs-tab-all_products_receipt,
#single_receipt_tabs-tab-create_new_product,
#single_receipt_tabs-tab-receipt_stats {
  border: #fff solid 1px;
  background-color: #3145f5;
  color: #fff;
  transition: .5s;    
}
#single_receipt_tabs-tab-add_product_receipt.active,
#single_receipt_tabs-tab-all_products_receipt.active,
#single_receipt_tabs-tab-create_new_product.active,
#single_receipt_tabs-tab-receipt_stats.active {
  background: linear-gradient(30deg, #ff6d00, #ff7900, #ff8500, #ff9100, #ff9e00, #ffaa00, #ffb600);
  color: #3145f5;
  text-decoration: underline solid 1px;
  font-weight: bold;    
}
.centre_new_product_image{
  text-align: center;
  margin-top: 20px;
}
#create_product_image{
  margin-top: 50px;
}
@media screen and (max-width: 865px){
  #delete_button_position_receipt{
   text-align: right;
  }
}
@media screen and (max-width: 705px){
  #single_receipt_tabs-tab-add_product_receipt,
  #single_receipt_tabs-tab-all_products_receipt,
  #single_receipt_tabs-tab-create_new_product,
  #single_receipt_tabs-tab-receipt_stats {
   height: 70px;
  }
}
@media screen and (max-width: 450px){
  #single_receipt_tabs-tab-add_product_receipt,
  #single_receipt_tabs-tab-all_products_receipt,
  #single_receipt_tabs-tab-create_new_product,
  #single_receipt_tabs-tab-receipt_stats {
   margin-right: 120px;
   height: auto;
  }
}