/*Find Product Section*/
#product_details_shop, 
#product_details_list_choices1, 
#product_details_list_choices2,
#official_name{
  text-transform: capitalize;
}
#choice_product_details,
#choice_product_details2, 
#choice_product_details3{
  margin-bottom: 0;
}
#add_product_button{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
}
#add_product_button_position{
  text-align: center;
}