/* .skull_col{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */
.centre_my_skull{
  margin-top: 40px;
  text-align: center;
}
.skull_bones{
  color: #3145f5;
  font-size: 125px;
  --fa-animation-duration: 5s;
}
.skull_text{
  font-size: 30px;
  padding-top: 50px;
}
