#all_slists_container{
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 8%;
}
#slists_welcome_title{
  font-size: 45px;
  margin-bottom: 2%;
}
.slist_username{
  text-transform: capitalize;
}
.slists_title{
  border-bottom: #3145f5 solid 1px;
  font-size: 50px;
  margin-bottom: 20px;
  color: #ff9100;
  font-weight: bolder;
}
.slists_text{
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
.create_slist_col{
  margin-top: 20px;
  font-weight: bold;
}
#create_slist_title{
  margin-bottom: 20px;
}