.centre_my_skull{
  margin-top: 40px;
  text-align: center;
}
.skull_bones{
  color: #3145f5;
  font-size: 125px;
  --fa-animation-duration: 5s;
}
.skull_text{
  font-size: 30px;
  padding-top: 50px;
}
